/* *******   BODY DARK THEME  --variables-  ******* */


.page.theme_dark {
  --bg-color: #000028;
  --bg-color-accent: #ff0070;
  --color-accent-shadow:#ff0070;
  --color-accent-link-shadow: #ff0070;
  --bg-color-accent-decor: #ff0070;
  --color-accent-h2: #000028;
  --color-h2: #000028;
  --main-text-color: #f1b2ce;
  --accent-text-color: #db00ff;
  --dark-selection: #353430;
  --bg-color-accent-hover: rgb(255, 0, 112, 0.4);
  --background-image-fixed: url(../images/cover-image-dark.png);
  --decor-item-visible: visible;
}

/* .theme_dark .decor-item {
  visibility: visible;
}  */