/* *******   BODY LIGHT THEME  --variables-  ******* */

.page.theme_light {  
  --bg-color: #fff1f7;
  --bg-color-accent: #353430;
  --bg-color-accent-decor: #FF8DCB;
  --color-accent-shadow: var(--bg-color-accent-decor);
  --color-accent-link-shadow: var(--bg-color-accent-decor);  
  --color-accent-h2: var(--bg-color-accent);
  --color-h2: var(--bg-color-accent);
  --main-text-color: var(--bg-color-accent);
  --accent-text-color: #ffc2e6;
  --bg-color-accent-hover: rgb(53, 52, 4, 0.4);
  --background-image-fixed: url(../images/cover-image-light.png);
  --decor-item-visible: hidden;
} 

@media (prefers-color-scheme: light) {
  :root  {
    --bg-color: #fff1f7;
    --bg-color-accent: #353430;
    --bg-color-accent-decor: #FF8DCB;
    --color-accent-shadow: var(--bg-color-accent-decor);
    --color-accent-link-shadow: var(--bg-color-accent-decor);  
    --color-accent-h2: var(--bg-color-accent);
    --color-h2: var(--bg-color-accent);
    --main-text-color: var(--bg-color-accent);
    --accent-text-color: #ffc2e6;
    --bg-color-accent-hover: rgb(53, 52, 4, 0.4);
    --background-image-fixed: url(../images/cover-image-light.png);
    --decor-item-visible: hidden;
  }
}