/* *******   BODY --variables-  ******* */

:root {
  --bg-color: #000028;
  --bg-color-accent: #ff0070;
  --color-accent-shadow: var(--bg-color-accent);
  --color-accent-shadow: var(--bg-color-accent);
  --color-accent-link-shadow: #ff0070;
  --bg-color-accent-decor: var(--bg-color-accent);
  --color-accent-h2: var(--bg-color);
  --color-h2: var(--bg-color-accent);
  --main-text-color: #f1b2ce;
  --accent-text-color: #db00ff;
  --dark-selection: #353430;
  --bg-color-accent-hover: rgb(255, 0, 112, 0.4);
  --background-image-fixed: url(../images/cover-image-dark.png);

  --font-family-main: "IBM Plex Mono", Courier, monospace;


  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-p: 1.125rem;
  --font-size-h4: var( --font-size-p);
  --font-size-h3: var( --font-size-p);
  --font-size-h2: var( --font-size-h1);
  --font-size-md-h2: var( --font-size-md-h1);
  --font-size-xl-h2: var( --font-size-xl-h1);
  --font-size-h1: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.1rem);
  --font-size-md-h1: clamp(7.5rem, 0.5625rem + 13.9vw, 9.8125rem);
  --font-size-xl-h1: 9.8125rem;

  --decor-item-visible: hidden;
}
